<div class="container form-container">
  <form [formGroup]="formValue" (ngSubmit)="submitForm(formValue.value)">
      <mat-form-field class="full-width">
        <mat-label>Product name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Categories" formControlName="categories" multiple>
          <mat-option *ngFor="let categorie of categories" [value]="categorie">{{ categorie.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Brands" formControlName="brand" (selected)="itemSelected($event)" required>
          <mat-option *ngFor="let brand of brands" [value]="brand">{{ brand.name }}</mat-option>
        </mat-select>
      </mat-form-field>

    <button mat-raised-button color="accent" type="submit"
      class="submit-button full-width" [disabled]="!formValue.valid">Create product</button>
    <button mat-raised-button *ngIf='updateMode' class="full-width" routerLink=".">Back</button>
  </form>
</div>
