<div class="container content">
  <mat-tab-group>
    <mat-tab label="Lists">
      <app-products></app-products>
    </mat-tab>
    <mat-tab label="Create">
      <app-add-product></app-add-product>
    </mat-tab>
  </mat-tab-group>
</div>
