<div class="row">
  <div class="col-md-12">
    <mat-paginator [length]="totalCount"
                   [pageSize]="pageSize"
                   (page)="retrieveProducts($event.pageIndex)">
    </mat-paginator>
  </div>

  <div class="col-md-12">
    <button mat-button class=" pull-right" aria-label="Search" (click)="showSearch = !showSearch">
      <mat-icon>search</mat-icon>
    </button>
    <mat-form-field class="example-full-width  pull-right" *ngIf="showSearch">
      <input matInput (keyup)="retrieveProducts(0, $event.target.value)">
    </mat-form-field>
  </div>
</div>

<mat-grid-list [cols]="cols | async" rowHeight="3:3">
  <mat-grid-tile *ngFor="let product of products">
      <mat-grid-tile-header>
        <h3 mat-line>{{ product.name }}</h3>
        <span mat-line>{{ product.description }}</span>
      </mat-grid-tile-header>

      <img [src]="product.image" [alt]="product.name" width="100%" height="100%">

      <mat-grid-tile-footer>
        <span mat-line>Brand : {{ product.brand.name }}</span>
        <ul>
          <li *ngFor="let category of product.categories">{{ category.name }}</li>
        </ul>
        <button mat-button class="pull-right" [routerLink]="['/product', product.id]">
          <mat-icon>create</mat-icon>
        </button>
      </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
